<h1>My Events</h1>
<p *ngIf="!events"><em>Login or Register</em></p>

<table class="table table-striped" *ngIf="events">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.date}}</td>
            <td>{{event.description}}</td>

            
        </tr>

        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="title">Title</label>
                  <div class="input-group" >
                    <input [(ngModel)]="newEvent.title"  type="text" placeholder="Title">
                  </div>
                  <label for="description">Description</label>
                  <div class="input-group">
                    <input id="description" class="form-control" >
                  </div>
                  <label for="date">Date</label>
                  <div class="input-group">
                    <input id="date" class="form-control" name="dp" ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </ng-template>
          
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Event</button>
          
          <hr>
          
        
        
        
        
        
    </tbody>
    
</table>

