<h1>My Events</h1>
<p *ngIf="!events"><em>Login or Register</em></p>

<table class="table table-striped" *ngIf="events">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.id}}</td>
            <td>{{event.title}}</td>
            <td>{{event.start | date : mediumDate}}</td>
            <td>{{event.description}}</td>

            
        </tr>

    </tbody>

</table>

<button [hidden]="!events" class="btn btn-lg btn-outline-primary" (click)="open()">Add Event</button>


